<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{labels.listHeader}}</span>
    <ul class="nav navbar-nav navbar-right">
      <li class="mx-2">
        <app-search (onSearch)="getItems($event)"></app-search>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#' + detailsModalId"
          (click)="select(defaultItem)"
          >
          {{labels.addActionLabel}}
        </button>
      </li>
    </ul>
  </div>
</nav>
<div class="list-cards">
  @for (item of list; track item) {
    <div class="card" style="width: 18rem">
      @if (item.imageId && item.imageId !== -1) {
        <app-image-display
          [id]="item.imageId"
          [cssClass]="'card-img-top'"
        ></app-image-display>
      }
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <div class="card-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#' + detailsModalId"
          (click)="select(item)"
          >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteItem(item.id)"
          >
          {{labels.deleteActionLabel}}
        </button>
      </div>
    </div>
  }
</div>

<app-details
  [item]="selectedItem"
  (onSave)="getItems()"
></app-details>
